**Data Science Tools and Ecosystem**

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:


1.   Python
2.   SQL
3.   R

Some of the commonly used libraries used by Data Scientists include:


*   Pandas
*   Seaborn
*   Matplotlib


| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- Describe common libraries used in Data Science
- Understand basic arithmetic expressions in Python
- Convert units (e.g., minutes to hours) using Python

## Author

Ariadna Beatriz Vazquez Lopez